    {{#each booking}}
        <p>Dato: {{this.startDate.day}}-{{this.startDate.monthIndex}}Tid:{{this.startDate.hours}}:{{this.startDate.minutes}}-{{this.endDate.hours}}:{{this.endDate.minutes}}</p>
    {{/each}}
