<div>
  <div class="month">
    <ul>
      <li class="prev" onclick="prevMonth()">&#10094;</li>
      <li class="next" onclick="nextMonth()">&#10095;</li>
      <li>{{formatDate currentDay}}<br><span>{{formatMonth currentDay}}</span></li>
    </ul>
  </div>

  <div id="calendar-grid">
      <div id="weekdays">
          <div>Mandag</div>
          <div>Tirsdag</div>
          <div>Onsdag</div>
          <div>Torsdag</div>
          <div>Fredag</div>
          <div>Lørdag</div>
          <div>Søndag</div>
      </div>
      {{#each days}}
          <div class="day" onclick="bookingThisDay({{this}})">{{this}}</div>
      {{/each}}
  </div>
</div>

<div id="calendar-bookings" >
  {{#each fields}}
  <ul>
    <li id="fieldKey"><b>{{@key}}</b></li>
    {{#each this}}
    <li id="calender-booking">
        {{formatBooking this}}
    </li>
    {{/each}}
  </ul>
  {{/each}}
</div>
